button {
    margin: 2px;
    padding: 3px;
}

#flashcard-widget {
    width: 80%;
    margin: auto;
}

#flashcard-container {
    background-color: lightgray;
    padding: 20px;
    overflow: hidden;
    position: relative;
    max-width: 96%;
    height: 400px;
}

@keyframes card-slide-in {
    from {
        transform: translateX(-200%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes card-slide-out {
    from {
        transform: translateX(0%);
        background-color: #eeffee;
    } to {
        transform: translateX(200%);
        background-color: #ffffff;
    }
}

@keyframes card-wrong {
    0% {
        transform: translateX(0%);
        background-color: #ffeeee;
    } 20% {
        transform: translateX(-1%);
    } 40% {
        transform: translateX(1%);
    } 60% {
        transform: translateX(-1%);
    } 80% {
        transform: translateX(1%);
        background-color: #ffeeee;
    } 100% {
        transform: translateX(0%);
        background-color: #ffffff;
    }
}

.flashcard {
    aspect-ratio: 2;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    drop-shadow: 2px 2px solid gray;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    position: relative;
}

.flashcard-slide-in, .flashcard-slide-out {
}

.flashcard-slide-in {
    animation: card-slide-in 0.8s;
    animation-timing-function: ease-in-out;
}

.flashcard-slide-out {
    animation: card-slide-out 0.8s;
    animation-timing-function: ease-in-out;
}

.flashcard-incorrect {
    animation: card-wrong 0.4s;
    animation-timing-function: ease-in-out;
}

.answer-text-box {
    width: 70%;
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#answer-hint {
    opacity: 50%;
    color: red;
}

.fullscreen-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: none;
}

#flashcard-decklist-overlay {
    display: none;
    overflow-y: scroll;
}

.menu-overlay {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
    margin: auto;
    padding: 20px;
    background-color: white;
    overflow-y: scroll;
}

.deck-editor-entry {
    margin: 10px;
    padding: 2px;
    border-radius: 10px;
    background-color: #eeeeff;
    width: 90%;
    box-shadow: 0 6px #9999aa;
    opacity: 0.8;
    display: block;
    overflow: auto;
}

.deck-editor-entry:hover {
    opacity: 1.0;
}

.deck-editor-entry a {
    line-height: 28px;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
}

.deck-editor-entry input {
    margin: 10px;
}

.deck-editor-button {
    float: right;
}

.deck-editor-button img {
    height: 12px;
}

#flashcard-deck-editor input {
    display: inline-block;
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
}

#flashcard-deck-editor button {
    display: inline-block;
    margin: 5px;
}

#flashcard-deck-editor-close {
    display: block;
}

hr {
    display: block;
    width: 90%;
}
